body {
    /* A4 paper size */
    width: 21cm;
    height: 29.7cm;
    margin: 0.7in;
}

#links li {
    flex-basis: 45%;
}

#links .link-prefix {
    display: inline;
}

#navigation {
    display: none;
}

#competitions {
    page-break-before: always;
}
